.mr_28 {
    margin-right: 28px;
}

.mr_19 {
    margin-right: 19px;
}

.mr_50 {
    margin-right: 50px;
}

.mr_10 {
    margin-right: 10px;
}

.mt_24 {
    margin-top: 24px;
}

.ml_15 {
    margin-left: 15px;
}

.mr_5 {
    margin-right: 5px;
}

.mr_15 {
    margin-right: 15px;
}

.mr_20 {
    margin-right: 20px
}

.mt_5 {
    margin-top: 5px;
}

.mt_33 {
    margin-top: 33px;
}

.mt_43 {
    margin-top: 43px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_3 {
    margin-top: 3px;
}

.mr_16 {
    margin-right: 16px;
}

.mt_21 {
    margin-top: 21px
}

.mr_6 {
    margin-right: 6px;
}

.mr_7 {
    margin-right: 7px;
}

.mr_10 {
    margin-right: 10px;
}

.mt_28 {
    margin-top: 28px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_50 {
    margin-top: 50px;
}

.mt_34 {
    margin-top: 34px;
}

.ml_5 {
    margin-left: 5px;
}

.mt_16 {
    margin-top: 16px;
}

.mt_44 {
    margin-top: 44px;
}

.mg_auto {
    margin: 0 auto;
}

.mr_8 {
    margin-right: 8px;
}

.mt_6 {
    margin-top: 6px;
}

.mr_4 {
    margin-right: 4px;
}

.mt_8 {
    margin-top: 8px;
}

.mt_80 {
    margin-top: 80px;
}

.m_0_52 {
    margin: 0 52px;
}

.ml_45 {
    margin-left: 45px;
}

.mt_11 {
    margin-top: 11px;
}

.mt_70 {
    margin-top: 70px;
}

.mt_124 {
    margin-top: 124px;
}

.mt_36 {
    margin-top: 36px;
}

.mt_15 {
    margin-top: 15px;
}

.mt_12 {
    margin-top: 12px;
}

.mr_30 {
    margin-right: 30px;
}

.mt_45 {
    margin-top: 45px;
}

.ml_30 {
    margin-left: 30px;
}

.mt_36 {
    margin-top: 36px;
}

.mt_47 {
    margin-top: 47px;
}

.mt_38 {
    margin-top: 38px;
}

.mt_25 {
    margin-top: 25px;
}

.gap_5 {
    gap: 5px;
}

.pd_14 {
    padding-left: 14px;
}

.pt_65 {
    padding-top: 65px;
}

.pl_10 {
    padding-left: 10px;
}

.p_30 {
    padding: 30px;
}

.pl_18 {
    padding-left: 18px;
}

.pl_7 {
    padding-left: 7px;
}

.pb_105 {
    padding-bottom: 105px;
}

.pt_40 {
    padding-top: 40px;
}

.pd_40 {
    padding: 40px;
}

.pl_45 {
    padding: 45px;
}

.pt_5 {
    padding-left: 5px;
}

.pr_7 {
    padding-right: 7px
}

.pd_0_30 {
    padding: 0 30px
}

.pd_20_15 {
    padding: 20px 15px
}

.pd_14 {
    padding-left: 15px;
}

.pd_l_r_9 {
    padding: 0 9px;
}

.pd_25_17 {
    padding: 25px 17px
}

.pd_6 {
    padding: 6px;
}

.pt_10 {
    padding-left: 10px;
}

.pb_25 {
    padding-bottom: 25px;
}

.pb_28 {
    padding-bottom: 28px;
}

.pb_36 {
    padding-bottom: 36px;
}

.pt_30 {
    padding-top: 30px;
}

.p_l_r48 {
    padding: 0 48px;
}

.fs_14 {
    font-size: 14px;
}

.fs_12 {
    font-size: 12px;
}

.fs_38 {
    font-size: 38px;
}

.fs_16 {
    font-size: 16px;
}

.fs_26 {
    font-size: 26px;
}

.fs_18 {
    font-size: 18px;
}

.fs_11 {
    font-size: 11px;
}

.fs_10 {
    font-size: 10px;
}

.fs_9 {
    font-size: 9px;
}

.fs_30 {
    font-size: 30px;
}

.fs_17 {
    font-size: 17px
}

.fs_74 {
    font-size: 74px
}

.fs_64 {
    font-size: 64px;
}

.fs_28 {
    font-size: 28px;
}

.fs_48 {
    font-size: 48px;
}

.fs_22 {
    font-size: 22px;
}

.lh_20 {
    line-height: 20px;
}

.lh_12 {
    line-height: 12px;
}

.lh_24 {
    line-height: 24px;
}

.lh_26 {
    line-height: 26px;
}

.lh_18 {
    line-height: 18px;
}

.lh_15 {
    line-height: 15px;
}

.lh_14 {
    line-height: 14px;
}

.lh_16 {
    line-height: 16px
}

.lh_40 {
    line-height: 40px;
}

.lh_22 {
    line-height: 22px;
}

.lh_36 {
    line-height: 36px;
}

.lh_30 {
    line-height: 30px;
}

.lh_9 {
    line-height: 9px;
}

.lh_80 {
    line-height: 80px;
}

.lh_66 {
    line-height: 66px;
}

.lh_48 {
    line-height: 48px;
}

.italic {
    font-style: italic;
}

.fw_600 {
    font-weight: 600;
}

.fw_800 {
    font-weight: 800;
}

.fw_300 {
    font-weight: 300;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

.fw_700 {
    font-weight: 700;
}

.button_header {
    width: 145px;
    height: 48px;
}

.logo {
    width: 190px;
    height: 60px;
}

.width_100 {
    width: 100%;
}

.max_w {
    max-width: 1280px;
}

.icon_search {
    width: 30px;
    height: 30px;
}

.icon_contact {
    width: 35px;
    height: 35px;
}

.width_380 {
    width: 380px;
}

.footer_right {
    width: 435px;
    height: 290px;
}

.icon_footer {
    width: 45px;
    height: 45px;
}

.video_card {
    width: 100%;
    height: 408.69px;
}

.max_w453 {
    max-width: 453px;
}

.video_thumbnail {
    width: 100%;
    height: 253.69px
}

.w_585 {
    width: 585px;
}

.arrow_right {
    width: 26px;
    height: 26px;
}

.input_b {
    max-width: 600px;
    width: 100%;
    height: 60px;
}

.img_home {
    width: 17px;
    height: 18px;
}

.max_w {
    max-width: 1860px;
}

.lead_wh {
    width: 161.67px;
    height: 297px;
}


.wh_245_62 {
    width: 245.47px;
    height: 62px;
}

.w_1220 {
    width: 1220px;
}


.w_127 {
    width: 127px;
}

.w_1280 {
    width: 1280px;
}

.icon_next {
    width: 12px;
    height: 12px;
}

.icon_new {
    width: 30px;
    height: 24px;
}

.max_w340 {
    width: 340px;
}

.max_w {
    max-width: 310px;
}

.wh_caculator_view {
    width: 368px;
    height: 498px;
}

.w_103 {
    height: 103px;
}

.max_w400 {
    max-width: 400px;
}

.video_collection {
    width: 957px;
    height: 540px;
}

.max_w {
    max-width: 1220px;
}

.collection_content {
    width: 468rem;
    height: auto;
    padding: 31rem 45rem;
}

.wh_10_24 {
    width: 10px;
    height: 24px;
}

.wh_190_27 {
    width: 190px;
    height: 27px;
}

.collection_button {
    background-color: rgba(255, 130, 0, 1);
    border-radius: 24rem;
    width: 172rem;
    height: 48rem;
}

.max_w305 {
    max-width: 305px;
}

.time {
    width: 100%;
    height: 48px
}

.year {
    height: 350px
}

.collection_button {
    background-color: rgba(255, 130, 0, 1);
    border-radius: 50%;
}

.max_900 {
    max-width: 900px;
}

.max_1920 {
    max-width: 1920px;
}

.max_468 {
    max-width: 468px;
}

.max_w768 {
    max-width: 768px;
}

.button_bf {
    width: 175px;
    height: 48px;
}

.button_new {
    max-width: 693px;
    width: 100%;
    height: 48px;
    background-color: #0F6B4B;
    border: none;
    outline: none;
}

.banner_footer_small {
    width: 960px;
    height: 497px;
}


.banner_footer_img {
    width: 375px;
    height: 83px
}

.img_new {
    width: 384px;
    height: 210px;
}

.height_1 {
    height: 1px;
}

.new_date {
    width: 174px;
    height: 27px;
}


.icon_arrow {
    width: 16px;
    height: 20px;
}

.height_auto {
    height: auto;
}

.btn_visit {
    width: 564px;
    height: 48px;
}

.card {
    max-width: 370px;
    min-width: 180px;
    width: 100%;
    height: 299px;
}


.button_next {
    width: 126px;
    height: 50px;
    background: rgba(250, 250, 250, 1);
}


.bdrs_50 {
    border-radius: 50%;
}

.bdrs_50 {
    border-radius: 50px;
}

.bdrs_6 {
    border-radius: 6px;
}

.bdr_1 {
    border-radius: 1px;
}

.bdrs_12 {
    border-radius: 12px;
}

.bdr_t_bt_10 {
    border-radius: 0px 10px 0px 10px;
}

.bdrs_10 {
    border-radius: 10px;
}

.bdr_tl_bt_200 {
    border-radius: 200px 0 0 200px;
}

.bdrs_200 {
    border-radius: 200px;
}

.bd_b_12 {
    border-bottom: 12px solid rgba(243, 255, 241, 1);
}

.bd_9 {
    border-radius: 9px;
}

.bd_5 {
    border-radius: 5px;
}

.bd_l_h {
    border-left: 2px dotted rgba(211, 211, 211, 1);
    height: 56px
}

.bd_l_5 {
    border-left: 5px solid #84BD00;
}

.bd_2 {
    border: 2px solid #84BD00;
}

.bd_1 {
    border: 1px solid #E6E2DB;
}

.bd_home {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bd_1video {
    border: 1px solid rgba(241, 241, 241, 1);
}

.banner_bd_1 {
    border: 1px dotted #84BD00;
}

.bd_1 {
    border: 1px solid rgba(243, 255, 241, 1);
}

.bd_line {
    border: 1px solid #0F6B4B;
}

.bs_abus {
    box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 1);
}

.bd_line {
    border: 1px solid #0F6B4B;
}

.bd_l_gray {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bd_2_deep {
    border: 2px solid rgba(17, 87, 64, 1);
}

.a_center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.flex_center {
    justify-content: center;
}

.text-center {
    text-align: center
}

.flex_between {
    justify-content: space-between;
}

.flex_end {
    justify-content: flex-end;
}

.flex_wrap {
    flex-wrap: wrap;
}

.row_rev {
    flex-direction: row-reverse;
}

.col_rev {
    flex-direction: colunm-reverse;
}

.bg_color {
    background-color: rgba(255, 130, 0, 1);
}

.bg_color_w {
    background-color: #FFFFFF;
}

.bg_color_green {
    background-color: rgba(132, 189, 0, 1);
}

.bg_color_tags {
    background-color: rgba(228, 238, 231, 0.3);

}

.bg_color_darkgreen {
    background-color: rgba(17, 87, 64, 1)
}

.bg_color_time {
    background: rgba(239, 237, 232, 0.9);
}

.bg_gray {
    background-color: #0000001A;
}

.bg_E4EEE74D {
    background-color: rgba(228, 238, 231, 0.3);

}

.bg_gray {
    background-color: rgba(243, 255, 241, 1);
}

.cl_w {
    color: white;
}

.h_cl {
    color: rgba(17, 87, 64, 1);
}

.home_color {
    color: rgba(15, 107, 75, 1);
}

.dark_cl {
    color: rgba(40, 62, 57, 1);
}

.banner_color {
    color: #84BD00
}

.cl_brown {
    color: rgba(63, 68, 68, 1);
}

.history_cl {
    color: rgba(0, 151, 58, 1);
}

.cl_view {
    color: #3F4444;
}

.gray_cl {
    color: #6E6E6E;

}

.blue_color {
    color: #004F5B;

}

.hidden {
    display: none;
}

.inline_block {
    display: inline-block;
}

.text_center {
    text-align: center;
}

.un_line {
    text-decoration: none;
}

.ps_relative {
    position: relative;
}

.ps_absolute {
    position: absolute;
}

.z_index_1 {
    z-index: 1;
}